<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
	  <add key="apiKey" value="XXXXXXXXX   XXXXXXXXX"/>
      <add key="SleepSeconds" value="5"/>
      <add key="DirectoryImgSource" value="E:\OCR\"/>
      <add key="DirectoryImgMoveTo" value="E:\OCR\OK\"/>
      <add key="DirectoryText" value="E:\OCR\TXT\"/>
    </appSettings>
</configuration>